html,
body,
#app {
  height: 100%;
  margin: 0;
  position: relative;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#ui-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  * {
    pointer-events: auto;
  }
}

#editor {
  position: fixed;
  inset: 0 0 0 auto;
  width: 48rem;
  display: flex;
  flex-direction: column;
  resize: horizontal;
  overflow: hidden;
  direction: rtl;

  #editor-tabs {
    display: flex;
    overflow: auto;
    direction: ltr;
  }

  #gamefile-input {
    flex: 1;
    min-height: 0;
    resize: none;
    direction: ltr;
  }
}
